<p id="notice"><%= notice %></p>




<h1>Listing Tokens</h1>

<%= link_to '<< Back', sanchaypatras_path %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Sanchaypatra</th>
      <th>Token number</th>
      <th>Token date</th>
      <th>Is redeemed</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.sanchaypatra.reg_number %></td>
        <td><%= token.token_number %></td>
        <td><%= token.token_date %></td>
        <td><%= token.is_redeemed %></td>
        <td><%= link_to 'Edit', edit_token_path(token) %></td>
        <td><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<< Back', sanchaypatras_path %>
